@use 'sass:map';

$colors: (
    'background': #0F0F0F,
    'secondary-background': #121212,
    'text': #EDEDED,
    'accent': #35C2C1,
    'accent-hover': #2BA9A9,
    'secondary': #B0B0B0,
    'gold-accent': #C29D5C,
    'prestige-purple': #501C77,
    'alpha-white': rgba(255, 255, 255, 0.06),
    'translucent-white': rgba(255, 255, 255, 0.15)
);

@function get-color($color) {
    @return map.get($colors, $color);
}

@mixin breakpoint($max-width) {
    @media (max-width: $max-width) { @content };
}

@font-face {
    font-family: Inter;
    src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url('/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: CMU;
    src: url('/fonts/cmunrm.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: CMU;
    src: url('/fonts/cmunti.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}


* {
    font-family: Inter;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.2rem;
    margin: 0;
    overflow-x: hidden;
}

section {
    padding: 6rem 2rem;
    padding-top: 3rem;
}